body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/static/images/image2.JPG');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0;
}

.chat-container {
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    opacity: 0.9; /* Optional: make the chat container slightly transparent */
}

.chat-header {
    background-color: #0c54e4;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.chat-header h1 {
    margin: 0;
    font-size: 20px;
}

.chat-box {
    height: 300px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    overflow-y: auto;
}

.chat-message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.bot-message {
    background-color: #e1ffc7;
    text-align: left;
}

.user-message {
    background-color: #d1e0ff;
    text-align: right;
}

input[type="text"] {
    width: calc(100% - 90px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0 0 0 5px;
}

button {
    width: 90px;
    padding: 10px;
    border: none;
    border-radius: 0 0 5px 0;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.timestamp {
    font-size: 0.8em;
    color: #888;
}
